<!DOCTYPE html>
<html>
  <head>
    <title>Mast2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <script>
      console.log("DEBUG: Layout loaded");
    </script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    
    <div class="container">
      <%= yield %>
    </div>

    <script>
      console.log("DEBUG: Body loaded");
      document.addEventListener("DOMContentLoaded", function() {
        console.log("DEBUG: DOMContentLoaded event fired");
      });
    </script>
  </body>
</html>
